<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robotiq_transmission" params="prefix">
    <transmission name="${prefix}finger_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_1_joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}finger_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_2_joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}finger_middle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_middle_joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_middle_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}palm_finger_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}palm_finger_1_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}palm_finger_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
