<launch>
  <arg name="env_prefix" default="env" />
  <arg name="use_rviz" default="false" />
  <arg name="robot_launch_file" default="bulldog_mujoco_ros ur5e_robotiq_2f_85_mujoco.launch use_rviz:=$(arg use_rviz)" />

  <group ns="$(arg env_prefix)">
    <node name="mujoco_simulation_spawner" pkg="bulldog_mujoco_ros" type="spawn_simulation.py" output="screen">
      <param name="robot_launch_file" value="$(arg robot_launch_file)" />
    </node>
  </group>
</launch>
