<?xml version="1.0"?>
<launch>
  <arg name="robot_description" default="$(find bulldog_mujoco_ros)/ros_models/urdfs/ur5e_robotiq_3f.urdf.xacro" />
  <arg name="robot_state_pub_frequency" default="50" />
  <arg name="joint_state_pub_frequency" default="50" />

  <!-- startup simulated world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="false"/>
  </include>

  <!-- upload gripper urdf to robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_description)'" />

  <!-- Start the publisher for robot -->
  <param name="joint_state_controller/publish_rate" value="$(arg joint_state_pub_frequency)"/>
  <rosparam command="load" file="$(find bulldog_mujoco_ros)/config/ur5_joint_state_controller.yaml" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" 
    args="joint_state_controller" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" value="$(arg robot_state_pub_frequency)" />
    <param name="tf_prefix" value="" />
    <!-- <remap from="joint_states" to="/robotiq_hands/left_hand/joint_states" /> -->
  </node>

  <!-- spawn in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

</launch> 
